body
{
margin:0px;
}

* {box-sizing: border-box;}

*
{
font-family:arial;
}

.container
{
	width: 80%;
	margin: 0 auto;
	background-color: #EFEDE6;
    padding: 15px 15px;

}

header
{
background-color:#303030;
height: 23px;
}

.header-content-container
{
	width: 80%;
	margin: 0 auto;
}

.pagelabel
{
margin: 0px;
}

ul.navigation
{
list-style:none;
list-style: outside none none;
padding: 0px;
margin: 0px;
}

ul.navigation li
{
display:inline-block;
}

ul.navigation li a
{
color: #ffffff;
background-color: #656565;
text-decoration: none;
padding: 2px 5px;
}

.logoutnav > a ,
.preferencesnav > a
{
display:none;
}

#invalid_datetime_format_message
{
	display:none;
	color:red;
}
#playableduration-reloadingdiv
{
display:none;
}

.message_success
{
	display: none;
	width: 50%;
	background-color: #CBE9CB;
	border-radius: 10px;
	border: 1px solid #B7DBB7;
	color: #3F6846;
	paddinG: 10px;
	font-size: 16px;
	text-align: center;
	position:relative;
}

.message_error
{
	display:none;
	width: 50%;
	background-color: #E9CBCB;
	border-radius: 10px;
	border: 1px solid #B97A7A;
	color: #683F3F;
	padding: 10px;
	font-size: 16px;
	text-align: center;
	position:relative;
}

.close-this-div
{
    position: absolute;
    right: 14px;
    top: 0px;
    color: #414141;
    text-decoration: none;
    font-weight: bold;
}


